[user]
	name = JC Zhu
	email = 1259896820@qq.com
[color]
	ui = auto
[credential]
    helper = store
[core]
	excludesfile = /home/zuzu/.gitignore_global
[alias]
	s = status
	cl = clone
	ck = checkout 
	a = add
	pl = pull
	ft = fetch
	cm = commit -m
	ps = push
	br = branch
	d = diff
	last = log -1
	unstatge = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[http]
	proxy = socks5://127.0.0.1:1080
[https]
	proxy = socks5://127.0.0.1:1080
